doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(content="width=device-width,initial-scale=1,minimal-ui" name="viewport")
        block meta
        block stylesheets
    body
        block content
        block scripts